/* --------- Layout --------- */
#nav {
    background: lightblue;
    border-radius: 5px;
    width: 20%;
    position: fixed;
    display: block;
}

#nav ul {
    list-style: none;
    margin-left: -20px;
    line-height: 20px;
}

#nav ul li {
    padding: 5px;
}

#nav ul li:hover {
    background: white;
    border: 1px solid black;
    border-right: 0px;
    border-radius: 5px;
    font-weight: bold;
}

#nav a, #nav a:visited {
    color: black;
}



#content {
    display: block;
    background: lightgray;
    border-radius: 5px;
    width: 75%;
    margin-left: 21%;
    padding: 7px;
    min-height: 600px;
}

#footer {
    display: block;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 10px;
    position: relative;
    background: lightblue;
    text-align: center;
}

/* --------- Float Styles --------- */

.floatLeft {
    float: left;
}

.stopFloat {
    clear: both;
}

/* --------- Table Tags --------- */
table {
    border: 1px solid black;
    width: 100%;
}

th {
    border: 2px solid black;
    font-size: large;
    text-align: center;
    
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* --------- Forms -------------- */

label {
    display: block;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

input[type=text], input[type=number], textarea {
    width: 62%; 
    padding: 12px; /* Some padding */
    border: 1px solid lightcyan; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

select {
    width: 50%; 
    padding: 12px; /* Some padding */
    border: 1px solid lightcyan; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit], input[type=button], button, .shareButton, .button {
    display: inline-block;
    color: #000000;
    background-color: lightcyan;
    border: 2px solid lightblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 7px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    letter-spacing: 0.07em;
    cursor: pointer;
  }
  
  input[type=submit]:hover, input[type=button]:hover, button:hover, .shareButton:hover, .button:hover {
    background-color: lightblue;
    color:gray;
    border: 2px solid lightcyan;
  }
  
  
  /* --------- My Styles -------------- */

  a[target='_blank']:after {
    content: ' \29C9';
  }